.main_container {
  margin-left: 25%;
  padding: 5%;
}

.submit-btn {
  width: 15%;
  border-radius: 0;
  height: 50px;
}

.submit-zero {
  width: 30%;
  height: 50px;
}

.count_display {
  width: 60%;
  background-color: gray;
  height: 50px;
  display: inline-block;
}

.orangebackground {
  background-color: orange;
}

.backgroundgrey {
  background-color: gray;
  display: flex;
  flex-direction: row;
}

.count_display_filed {
  width: 98.7%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.div_height {
  height: 20%;
}
